@import "./lib/import"

.margin-left-1
    margin-left: 1rem

.navbar-end
    margin-right: 1rem

.fab, .fas
    margin-right: 1rem

.is-orange
    background-color: #e44800
    color: white

.is-blurple
    background-color: #7289DA
    color: white

.banner
    background: url("../../images/jpegs/colorado-springs.jpg")
    background-size: cover 
    background-position: center
    background-repeat: no-repeat

.is-pink
    background-color: #FF00AA
    color: white

.is-red
    background-color: red
    color: white

.image
    width: 92px

.rad-square
    border-radius: .5rem

.rad-circle
    border-radius: 50%

.no-top-margin
    margin-top: 0

.no-bottom-margin
    margin-bottom: 0

.til
    display: inline-block

.til-small
    margin-left: 1rem

.padding
    padding: 1rem

.has-margin
    margin: 1rem